<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "Laura Vicinanza",
    "url": "lavici.github.io"
  }
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "lavici.github.io",
    "logo": 
  }
</script>

<header class="main-header" data-header>
  <div class="header-content">

    <a class="accessibility-skip" href="#maincontent">Skip to main content</a>

    <div class="logo-nav-wrapper">
      <div class="logo-title-wrapper">

        {% if page.layout == "page" or page.layout == "home-page" %}
        <a href="{{ site.baseurl }}/">
          <div class="site-title">
            <h2>{{ site.title }}</h2>
          </div>
        </a>
        {% endif %}


      </div>

      <nav class="navigation" aria-label="main navigation">
        <a href="javascript:void(0)" class="mobile-nav">Menu</a>
        <div class="mobile-nav-wrapper">
          <ul class="mobile-dropdown" itemscope itemtype="http://schema.org/SiteNavigationElement">
          {% for link in site.navigation %}
            {% assign current = nil %}
            {% capture current_page %}{{ page.url | downcase | replace_first: '/', '' | remove: '/' }}{% endcapture %}
            {% capture current_page_nav %}{{ link.title | downcase }}{% endcapture %}

            {% if current_page contains current_page_nav %}
              {% assign current = ' class="current"' %}
            {% endif %}
            {% if link.title != "Home" %}
            <li>
              <a{{ current }} itemprop="url" href="{{ link.url }}"><span itemprop="name">{{ link.title }}</span></a>
            </li>
            {% endif %}
          {% endfor %}
          </ul>
        </div>
      </nav>

    </div>

  </div>
</header>
